<h1>Review for <%= link_to @movie.title, movie_path(@movie) %></h1>

<%= form_with(model: [@movie, @review]) do |f| %>

<%= render "shared/errors", object: @review %>

  <%= f.label :stars %>
  <%= f.number_field :stars, in: 1..5 %>

  <%= f.label :comment %>
  <%= f.text_area :comment %>

  <%= f.submit "Submit Review" %>

<% end %>
  
